# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
å
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# old pages
.QuizTest-old.js
.QuizTest-old2.js
.QuizTest-old3.js
.QuizTest-old4.js
.QuizTest-old5.js

Information-old.js
